{% extends 'base.html' %}

{% block title %}Lista de Noticias{% endblock %}

{% block content %}

{%if user.is_authenticated and user.is_staff or user.is_superuser%}
<div> <br> <a href="{% url 'noticias:path_creacion_noticias' %}">Crear una nueva noticia</a> <br>
</div>
{% endif %}

<div>
    <a href="{% url 'noticias:path_listado_noticias' %}?orden=rec">Más recientes</a> | 
    <a href="{% url 'noticias:path_listado_noticias' %}?orden=ant">Más antiguas</a>
    <br>
</div>


{% for noticia in object_list %}
{% if noticia.imagen %}
        <p><img src="{{ noticia.imagen.url }}"></p>
    {% else %}
        <p>No hay imagen disponible</p>
    {% endif %}
    <h3><a href="{% url 'noticias:path_detalle_noticias' noticia.pk %}">{{ noticia.titulo }}</a></h3>
    <p>{{ noticia.resumen }}</p>
    <p><strong> Categoria: </strong> {{ noticia.categoria }}</p>
{% endfor %}

{% endblock %}