{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Blog de Noticias{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'path_home' %}">Inicio</a></li>
                <li><a href="{% url 'noticias:path_listado_noticias' %}">Noticias</a></li>
                <li><a href="{% url 'path_home' %}">Categorías</a></li>
                <li><a href="{% url 'path_home' %}">Acerca de</a></li>
                <li><a href="{% url 'path_home' %}">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Blog de Noticias</p>
    </footer>
</body>
</html>
